.realtors{
    background-color: $color-secondary;
    grid-column: col-start 7/full-end;

    display: grid;
    grid-template-columns: max-content;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-gap: 2rem;
    padding: 3rem;

    @media only screen and (max-width: $bp-medium){
        grid-column: 1/-1;
    }

    &__list{
        display: grid;
        grid-template-columns: min-content max-content;
        align-items: center;
        grid-row-gap: 5vh;
        grid-column-gap: 1.5rem;

        @media only screen and (max-width: $bp-medium){
            grid-template-columns: repeat(3,min-content max-content);
        }

        @media only screen and (max-width: $bp-small){
            grid-template-columns: min-content max-content;
        }
    }

    &__photo{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
    }

    &__sold{
        color: $color-grey-light-2;
        line-height: 1;
        margin-top: -2px;
    }
}